@import '../assets/styles/variables.less';

:host {
  display: flex;
  flex-direction: row-reverse;
  height: 100%;
  overflow: hidden;
}

#page {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  overflow: hidden;
  flex-grow: 1;
  border-left: solid 2px @grey;
  border-right: solid 2px @grey;
  flex-shrink: 0;
  width: 100%;
}

.width-container {
  max-width: @pageWidth;
  width: 100%;
  margin: 0 auto;
}

#side-navigation {
  flex-shrink: 0;
  width: 15em;
  overflow: hidden;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  transition: 0.5s;
  float: right;
}

#overlay {
  position: absolute;
  background-color: #000;
  width: 100%;
  height: 100%;
  opacity: .5;
}

#body{
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  flex-grow: 1;
}

#content {
  flex-grow: 1;
}

#footer {
  flex-grow: 0;
  flex-shrink: 0;
}
