@import '../assets/styles/variables.less';

:host {
  display: flex;
  flex-direction: row-reverse;
  height: 100%;
  overflow: hidden;
}

#page {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-grow: 1;
  flex-shrink: 0;
  width: 100%;
  //overflow-y: auto;
}

#body, #header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#body {
  flex-grow: 1;
  overflow-y: auto;
  //overflow-x: hidden;
}

#header {
  flex-grow: 0;
  flex-shrink: 0;
}

.width-container {
  max-width: @pageWidth;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-grow: 1;
}

#side-navigation {
  flex-shrink: 0;
  width: 15em;
  overflow: hidden;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  float: right;
}

#footer, #content {
  padding: 0 10px;
}

#footer {
  flex-grow: 0;
  flex-shrink: 0;
}

#content {
  flex-grow: 1;
}
