<app-inner-layout #innerLayout>
  <!--h2 [@fadeIn]="innerLayout.pageReady" >Projects</h2-->

  <div class="projects" [@shiftIn]="innerLayout.pageReady">
    <div class="project-subdivision" *ngFor="let projectSubdivision of projects; let i = index" [ngClass]="(i==0 && projectSubdivision.length > 0 && !projectSubdivision[0].featured)?'no-feat':(i % 2 == 0)?'right-feat':'left-feat'">
      <div class="project" *ngFor="let project of projectSubdivision" [class.featured]="project.featured">
        <div class="title"><h3>{{project.title}}</h3></div>
        <!--h4>created: {{project.created | date:"MMM yyyy"}}<span *ngIf="project.modified">, modified: {{project.modified | date:"MMM yyyy"}}</span></h4-->
        <img *ngIf="project.thumb" src="{{project.thumb}}" />
        <!--p>{{project.description}}</p-->
      </div>
    </div>
  </div>
</app-inner-layout>
