@import '../../../assets/styles/variables.less';

img {
  max-width: 100%;
  
}

.title {
  position: absolute;
  bottom: 50px;
  right: 50px;
  min-height: 3em;
  transform: translateY(50%) translateX(50%) rotate(-45deg);
  width: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 3;
  padding: 2px 50%;
  user-select: none;
  overflow: hidden;
  background-color: rgba(136,136,136,.7);
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.project {
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
}

.project-subdivision {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  margin: 5px 0;
}

.no-feat {
  
}

.right-feat {
  grid-template-areas:
    "a featured featured"
    "b featured featured"
}

.left-feat {
  grid-template-areas:
    "featured featured a"
    "featured featured b"
}

.featured {
  grid-area: featured;
}

@media only screen and (max-width: 600px) {
  .project-subdivision {
    grid-template-columns: 1fr 1fr;
  }

  .title
  {
    font-size: .8em;
  }

  .right-feat, .left-feat {
    grid-template-areas:
      "featured featured"
      "featured featured"
  }
}
