<app-inner-layout #innerLayout>
  <h2 [@fadeIn]="innerLayout.pageReady" >Projects</h2>

  <ul class="projects" [@shiftIn]="innerLayout.pageReady">
    <li class="project" *ngFor="let project of projects">
      <h3>{{project.title}}</h3>
      <h4>created: {{project.created | date:"MMM yyyy"}}<span *ngIf="project.modified">, modified: {{project.modified | date:"MMM yyyy"}}</span></h4>
      <img *ngIf="project.thumb" src="{{project.thumb}}" />
      <p>{{project.description}}</p>
    </li>
  </ul>
</app-inner-layout>
