@import '../../../assets/styles/variables.less';

:host {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  user-select: none;
  overflow: hidden;
}

#side-navigation-items {
  flex-direction: column;
  flex: 1 0 auto;
}

#close-menu {
  display: flex;
  justify-content: flex-end;
}

#close-menu h2 {
  margin: 20px 10px;
  font-weight: bold;
  font-size: 1.2em;
}

#side-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex: 1 0 auto;
}

#side-connect {
  
}
