@import '../../../assets/styles/variables.less';

:host{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#top-navigation {
  transform: scaleY(100%);
  transition: .4s;
  overflow: hidden;
}

#open-menu {
  display: inline-block;
  margin: 10px 10px;
}

@media only screen and (max-width: @pageWidth) {
  #top-navigation {
    transform: scaleY(0);
  }
}
