@import '../../../assets/styles/variables.less';

:host{
  display: flex;
  align-items: center;
}

#open-menu {
  display: none;
  margin: 10px 10px;
}

@media only screen and (max-width: @pageWidth) {
  #open-menu {
    display: none;
    display: inline-block;
  }

  #top-navigation {
    display: none;
  }
}
