@import "assets/styles/variables.less";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  font-family: @bodyTypeface;
  letter-spacing: .05em;
  font-style: normal;
  color: #CCC;
}

a {
  color: @accentColor;
  text-decoration: none;
}

a:hover {
  animation: fadeWhite .7s;
  animation-fill-mode: forwards;
}

@keyframes fadeWhite {
  0% {
    color: @accentColor;
  }

  100% {
    color: @white;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: @headerTypeface;
  color: @white;
  text-transform: capitalize;
  font-weight: normal;
  margin: 0;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.6em;
  text-align: center;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.0em;
}


html, body {
  padding: 0px;
  margin: 0px;
  background-color: @darkgrey;
}
