<div id="contact">
  <a href="https://www.linkedin.com/in/nathan-russell-58002936" target="_blank"><img src="../../assets/img/contact-icons/LinkedIn.png" alt="LinkedIn" /></a>
  <a href="https://www.facebook.com/nathan.russell.54540" target="_blank"><img src="../../assets/img/contact-icons/Facebook.png" alt="Facebook" /></a>
  <a href="https://github.com/NateRussell" target="_blank"><img src="../../assets/img/contact-icons/GitHub.png" alt="GitHub" /></a>
  <a href="mailto:contact@naterussell.com"><img src="../../assets/img/contact-icons/Mail.png" alt="Mail" /></a>
</div>

