@import '../../assets/styles/variables.less';

:host {
  display: flex;
  align-items: center;
}

div {
  margin: 10px;
}

.active {
  color: @white;
}

.active:hover {
         animation: none;
       }
