@import '../../../assets/styles/variables.less';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#intro {
  //position: relative;
  height: 100%;
  flex-shrink: 0;
  display:inline;
  user-select: none;
  background: url(../../../assets/img/IntroImage.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

#scroll-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.5em;
  width: 4em;
  overflow: hidden;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  padding-top: -8px;
  cursor: pointer;
  font-size: 2.5em;
  color: @accentColor;
  border: 2px solid @accentColor;
  border-radius: 2em;
  opacity: 0;
  animation: fadeInAnimation 3s 4s;
  animation-fill-mode: forwards;
  transition: .4s;
}

#scroll-button:hover {
  color: @white;
  border-color: @white;
  opacity: 1;
}

#inner-layout {
  flex: 1 1 auto;
  height: unset;
}

#inner-layout h3 {
  text-align: center;
  margin-bottom: 150px;
  padding: 10px;
  font-style:italic;
}



@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


