<div id="page" [@shiftLeft]="sideBar.isOpen">
  <div id="header" [@headerFade]="viewportService.scrolledToTop">
    <div class="width-container"><app-header (toggleMenuEvent)="sideBar.toggle()"></app-header></div>
  </div>
  <div id="body">
    <div id="outlet-wrapper" [@routeAnimations]="o.isActivated ? o.activatedRoute : ''"><router-outlet #o="outlet"></router-outlet></div>
  </div>
  <app-overlay id="overlay" [show]="sideBar.isOpen" (click)="sideBar.close()"></app-overlay>
</div>
<app-connect [show]="!sideBar.isOpen"></app-connect>
<app-side-bar #sideBar id="side-bar"></app-side-bar>

